.Table {

		    	display: table;
		    	width: 100%;
		}
		.TableRow {
		    	display: table-row;
		}

		.TableHeading {
		    	display: table-header-group;
				font-weight: bold;
		}
		.TableCell, .TableHead {
		    	display: table-cell;
		    /*	border: 1px solid #999999; */
			  	float: left;
			  	height: 17px;

			  	padding: 3px 0.8%;
				width:  10%;
		}
		.TableCell1, .TableHead1 {
		    	display: table-cell;
		    /*	border: 1px solid #999999;*/
			  	float: left;
			  	height: 17px;
			  	padding: 2px 0.5%;
				width:  5%;
				text-align: center
		}
		.TableCell1-err {
		    	display: table-cell;
		    /*	border: 1px solid #999999;*/
			  	float: left;
			  	height: 17px;
			  	padding: 2px 0.5%;
				width:  5%;
				text-align: center;
				background-color: #f3d9df;
		}
		.TableHead1, .TableHead2 {
			background-color: #ddd;
		}
		.TableCell2, .TableHead2 {
		    	display: table-cell;
		    /*	border: 1px solid #999999;*/
			  	float: left;
			  	height: 17px;
			  	padding: 2px 0.5%;
				width:  30%;
				overflow: hidden;

		}
		.TableCell2-err{
		    	display: table-cell;
		/*    	border: 1px solid #999999; */
			  	float: left;
			  	height: 17px;
			  	padding: 2px 0.5%;
				width:  30%;
				overflow: hidden;
				background-color: #efdecd;
		}
		.TableHeading {
		    	display: table-header-group;
		    	font-weight: bold;
		}
		.TableFoot {
		    	display: table-footer-group;
		    	font-weight: bold;
		    	background-color: #ddd;
		}
		.TableBody{
		    	display: table-row-group;
				}

		.TableBody .TableRow:nth-child(even){
				background-color: #f7f7f7;
				}
