
div {
	// pour le titre
	//text-align:center;
	}
div li {
	text-align:left;
}
div p {
	text-align:left;
}
#bandeau {
	width:80%;
	height:100px;
	//background-color:#00CCFF;
	}
#menu {
	width:100%;
	height:35px;
	//background-color:#FF6699;
	}
#contenu {
	width:100%;

//	background-color:#FFCC00;
	}
#footer {
    clear:both;
    margin:10px;
	width:100%;
	height:50px;
//	background-color:#33FF99;
	}
#menu ul {
 padding:0;
 margin:0;
 list-style-type:none;
 }
#menu li {
 margin-left:4px;
 float:left; /*pour IE*/
 }
#menu ul li a {
 display:inline-block;
 float:left;
 width:230px;
 background-color:#000000;
 color:white;
 font-weight:bold;
 text-decoration:none;
 text-align:center;
 padding:8px;
}
.emphase {
    color: red;
}
.TableComplet {

		    	display: table;
		    	width: 80%;
		}
		.TableRow {
		    	display: table-row;
		}

		.TableHeading {
		    	display: table-header-group;
				font-weight: bold;
		}
		.TableCell, .TableHead {
		    	display: table-cell;
		    /*	border: 1px solid #999999; */
			  	float: left;
			  	height: 20px;

			  	padding: 3px 0.8%;
				width:  10%;
		}
		.TableCell1, .TableHead1 {
		    	display: table-cell;
		    /*	border: 1px solid #999999;*/
			  	float: left;
			  	height: 20px;
			  	padding: 2px 0.5%;
				width:  7%;
				text-align: center
		}
		.TableCell1-err {
		    	display: table-cell;
		    /*	border: 1px solid #999999;*/
			  	float: left;
			  	height: 20px;
			  	padding: 2px 0.5%;
				width:  5%;
				text-align: center;
				background-color: #f3d9df;
		}
		.TableHead1, .TableHead2 {
			background-color: #ddd;
		}
		.TableCell2, .TableHead2 {
		    	display: table-cell;
		    /*	border: 1px solid #999999;*/
			  	float: left;
			  	height: 20px;
			  	padding: 2px 0.5%;
				width:  30%;
				overflow: hidden;

		}
		.TableCell2-err{
		    	display: table-cell;
		/*    	border: 1px solid #999999; */
			  	float: left;
			  	height: 20px;
			  	padding: 2px 0.5%;
				width:  30%;
				overflow: hidden;
				background-color: #efdecd;
		}
		.TableHeading {
		    	display: table-header-group;
		    	font-weight: bold;
		}
		.TableFoot {
		    	display: table-footer-group;
		    	font-weight: bold;
		    	background-color: #ddd;
		}
		.TableBody{
		    	display: table-row-group;
				}

		.TableBody .TableRow:nth-child(even){
				background-color: #f7f7f7;
				}
